
// Main background animation:
header{
  margin-top:0px;
  margin-bottom: 0px;
  top:0;
  width:100%;
  min-height: 100vh;
  color: #fff;
  background: linear-gradient(-45deg,#6200ea,#0d47a1,#1de9b6,white);
  background-size: 400% 400%;
  background-position: center;
  position: relative;
  animation: change 10s ease-in-out infinite;
}

@keyframes change {
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0 50%;
  }
}
// Transition animation:



@media screen and (max-width: 670px){
  header{
    min-height: 500px;
  }
}

